source https://www.nuget.org/api/v2
nuget Expecto

// [ FAKE GROUP ]
group netcorebuild
    source https://api.nuget.org/v3/index.json

    nuget FAKE.Core prerelease
    nuget FAKE.Core.Target prerelease
    nuget FAKE.DotNet.Cli prerelease